In [7]:
import pandas as pd
import pyarrow

In [26]:
df=pd.read_parquet("/datos/Descargas/mlPreproc(9).parquet",engine='pyarrow')

In [27]:

df

      created_date        borough  counts
0       2010-01-01          bronx     178
1       2010-01-01       brooklyn     182
2       2010-01-01      manhattan     158
3       2010-01-01         queens     143
4       2010-01-01  staten island      16
...            ...            ...     ...
20213   2020-04-30       brooklyn     234
20214   2020-04-30      manhattan     173
20215   2020-04-30         queens     164
20216   2020-04-30  staten island      20
20217   2020-04-30    unspecified       1

[20218 rows x 3 columns]

In [24]:
%%bash
ls "/datos/Descargas/mlPreproc.csv"

/datos/Descargas/mlPreproc.csv